<header>
  <div class="header-logo">
    <a href="/">Midas</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Midasとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>Midas(ミダース)とは</h2>
  <p>
    愚痴を投稿し、ストレス発散する新感覚SNSサービスです。
    日頃溜まった愚痴を投稿し、誰にも知られずストレス発散できます。
  </p>
  <img class="about-img" src="/about.jpg">
</div>
