<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
    <div class="posts-index-item">
      <%= link_to(post.content, "/posts/#{post.id}") %>
    </div>
    <% end %>
  </div>
</div>
<%= Status.find_by(user_id: current_user.id)%>
